nav(class="navbar navbar-default navbar-fixed-top nav-shadow nav-intro")
    .container
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-collapse-1', aria-expanded='false')
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
        .navbar-header
            a(class='navbar-brand page-scroll', href='/'): img(alt="MagmaKick Logo" src='/images/logo.png', style="max-width:40px; margin-top: -5px;")
            a(class='navbar-brand page-scroll', href='/'): img(alt="MagmaKick Title" src='/images/title.png', style="margin-top: 5px;")
        .collapse.navbar-collapse#navbar-collapse-1
            ul(class='nav navbar-nav navbar-right')
                li: a(class='page-scroll', href='/#what') MagmaKick 소개
                li: a(class='page-scroll', href='/docs/tutorial/tutorial01.md') 문서
