#docs-nav.docs-sidebar.docs-nav
    header
        a(href='#' class='button-mobile-docs-menu') 문서
    #docs-dropdown.docs-dropdown
        section
            h3 문서
            ul.section.primary-list
                li
                    a(href='/docs/tutorial/tutorial01.md') <i class="icon-pencil"></i> 튜토리얼
                li
                    a(href='/documents/api/device.html' class='current') API 레퍼런스
                        .api-nav-menu
                            nav.grouped-list
                                div
                                    ul.tertiary-list
                                        li
                                            a(href='/documents/api/device.html') Device
                                        li
                                            a(href='/documents/api/user.html') User
                                        li
                                            a(href='/documents/api/payload.html') Payload
                                        li
                                            a(href='/documents/api/receipt.html') Receipt